.header
    height: 350px
    position: relative
    @include flexDisplay (start, center, column)

    picture 
        position: absolute
        z-index: -1

        img
            width: 100vw
            height: 350px

    h1,div
        z-index: 1

    h1
        font-size: 40px
        margin-top: 30px
        color: white
        font-weight: 500
        margin-top: 50px

    .header_form
        @include flexDisplay (center, center, row)

        height: 50px
        margin-top: 30px

        .header_form_input
            border: none
            width: 500px
            height: 60px
            padding-left: 20px
            border-top-left-radius: 10px
            border-bottom-left-radius: 10px
            font-size: 18px
            color: $VeryDarkGray
            outline: none
            cursor: pointer
            margin-bottom: -40px

            &:focus
                outline: none
        
        .header_form_button 
            margin-bottom: -40px
            width: 60px
            height: 63px
            border: none
            border-top-right-radius: 10px
            border-bottom-right-radius: 10px
            background-color: black
            cursor: pointer

            &:hover
                background-color: $VeryDarkGray

@media (max-width :1024px)
    .header
        h1 
            font-size: 25px

        .header_form
            .header_form_input
                width: 60vw
                height: 50px
                margin-bottom: 0px
        
            .header_form_button
                margin-bottom: 0px
                height: 53px
                width: 50px